@charset "UTF-8";

/*Vamos familiarizar isso*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}

html,body{
    background-color: green;
    height: 100vh;
    width: 100vw ;
}

 

/*Alinhamento de elementos*/
nav{
    align-items: center;
    height: 100px;
    width: 100vw;
display: flex;
 justify-content: center;
 overflow: hidden;
}

h1{
    color: white;
}

 

.t{
    font-size: 0.8em;/*Vamos reduzir o tamanho dos paragrafos */
}

/*Conteudo principal`*/
main{
    display: flex;
   justify-content: center;
}

/*Caixa de login*/
#login{
    position: absolute;
    height: 536px;
    width: 250px;
    background-color: white;
    border-radius:20px; 
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451) ;
    transition: width .3s, height .3s;
    transition-timing-function: ease; /*Para ele dar uma suavizada durante a animação, ele não vai acelerar nem desacelerar na mesma velocidade*/ 
   
 
}

/*Imagem que vai ficar dentro da caixa de login*/
#imagem{
    height: 200px;
    background-image: url(login.jpg);
    background-size: cover;
    display: block;
     
     
}

 /*Para colocar todos elementos dentro do conteudo login centralizado num bloco*/
.conteudologin{
    display: block;
    padding: 10px;
    
     
}

.conteudologin>h2{
    text-align: center;
}

.conteudologin>p{
    font: 0.8em; 
}

/*Alinhar os campos no centro e posteriormente vamos estilizar
.campo{
    display: flex;
    justify-content: center;
}

.botão{
    display: flex;
    justify-content: center;
}*/

/*
 div.campo{
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
} 

/*Vamos colocar um em cima do outro ou seja a letra por cima do campo */
.campinho{
    display: flex;
    flex-direction: column;
  
}

/*Vamos editar um pouco o login */
#ilogin{
      
      height: 40px;
     width: 100%;
     border-radius: 5px;
      
}

#ilogin1{
    height: 40px;
    width: 100%;
    border-radius: 5px;
      
}

.sim{
    font-size: 10px;
}

 #botao{
    height: 40px;
    width: 100%;
    background-color: green;
    font-size: 1em;
    display: block;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2px;
 }

 

 