@charset "UTF-8";

/*Criamos o mediafirst com o objectivo de desenvolver para tablet e pc*/

/*Tipical device Breakpoints
----------------------------
Pequenas telas até: 600px
celular de : 600px até 768px
tablet de : 768px até 992px
Desktop: de 992 até 1200px
Grandes telas acima de :1200px */

/*Para tablet*/
@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: linear-gradient(rgba(36, 128, 0, 0.253),green);
    }

    /*Vamos aumentar a largura da nossa caixa login para 80vw */
    #login{
        width: 80vw;
    } 

    #imagem{
        float: left; /*A imagem flutua para esquerda */
        width: 30%; /*Com largura de 30%*/
        height: 100%; /*A altura irá ocupar a todo login*/
        background-position: center; /*Endereitar a posição da imagem e centraliar*/
       
    }

    .conteudologin{
        /*Flutua para direita */
        width: 100%; /*Ele vai ocupar uma largura de 70%*/  
    }

    .sim{
        font-size: 12px;
    }

    #botao{
        height: 40px;
        width: 100%;
        background-color: green;
        font-size: 1em;
        display: block;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 2px;
     }
    
  
}

/*Vamos trazer responsividade para desktop*/
 
@media screen and (min-width:992px) and (max-width:1200px){
    body{
        background-image: linear-gradient(rgba(36, 128, 0, 0.253),green);
    }

    #login{
        float:left ;
       width: 950px;
    }

    #imagem{
        float: right;
        width: 50% ;
        height: 100%;
        background-position: center; /*Endereitar a posição da imagem e centraliar*/
      
    }

    .conteudologin{
        
        width: 100%;
        
    }

    .sim{
        font-size: 14px;
    }
}

/*Vamos ajustar telas maiores */
@media screen and (min-width:1200px) and (max-width:1500px){
    body{
        background: linear-gradient(rgba(36, 128, 0, 0.253),green);
    }

     #login{
        float: right;
        width: 1050px;
    }   
        #imagem{
            float: right;
            width: 50%;/*Imagem terá uma largura de 50 % com o conteudo para poder ficar  meio*/
            height: 100%;
            background-position: center;/*Endereitar a posição da imagem e centraliar*/
        }

        .conteudologin{
            width: 100%;
        }

        .sim{
            font-size: 16px;
        }

}